.clock_cont_div{ width: 60%; float: left; padding: 0% 20%;}
.clock_part{width:44%;float:left;padding: 0% 28%;}
.main_clock{width:100%;float:left;zoom: 75%;margin: 10px 0px;}
.pledge_div{width:50%;float:left;padding: 2% 25%;}
.pledge_option_div{width:100%;float:left;}
.pledge_option_1{width:29%;float:left;margin-left:2%; margin-right:2%;}
.pledge_option_2{width:29%;float:left;margin-left:2%; margin-right:2%;}
.pledge_option_3{width:29%;float:left;margin-left:2%; margin-right:2%;}
.pledge_option_img_div{width:100px;height:100px;float:left;border:1px solid #0089c7;border-radius: 100%;margin: 0% 8%;}
.pledge_option_img_part{width:100%;height:70%;float:left;text-align:center;}
.pledge_option_img{width: 55%;padding: 12px;}
.pledge_option_tag{width:100%;height:30%;float:left;text-align:center;color:#0089c7;padding-top: 5px;font-size: 1.4vw;}
.pledge_option_desc{width:100%;height:auto;float:left;text-align: center;padding-top: 5%;font-family:OpenSans;font-weight: lighter;}
.button_div{width: 30%; height: auto; float: left; padding: 3% 35%;}
.button_part{width: 100%; height: auto; float: left;}
.btn_cls{width: 100%; float: left; background-color: #cd5b1c; color: white; border: none;}