.hitDiv{
	width: 16%;
	float: left;
	padding: 0% 12%;
}
@media only screen and (min-width: 200px) {
.hitDiv{
  padding: 0% 12%;
}
}
@media only screen and (min-width: 300px) {
.hitDiv{
 padding: 0% 12%;
}
}
@media only screen and (min-width: 400px) {
.hitDiv{
padding: 0% 0vw;
}
}
@media only screen and (min-width: 500px) {
.hitDiv{
padding: 0% 2vw;
}
}
@media only screen and (min-width: 600px) {
.hitDiv{
    padding: 0% 9vw;
}
}
@media only screen and (min-width: 700px) {
.overlay{
padding: 0% 12%;
}
}
@media only screen and (min-width: 800px) {
.overlay{
padding: 0% 12%;
}
}